# 因版本更新暂时弃用
AUTO_DETECT_CAMPUS_INTERFACE="False"

SERVER_IP="100.10.61.3" # 吉林大学默认值
DHCP_SERVER=""  # 网关
DRCOM_PORT="61440" # 吉林大学默认值

# 因版本更新暂时弃用
CAMPUS_IP_PREFIX="49."

USERNAME="" # 账号
PASSWORD="" # 密码

HOST_NAME="" # 主机名
HOST_OS=""  # 操作系统
MAC="" # MAC地址，形如 00:11:22:33:44:55 或 001122334455 或 00-11-22-33-44-55
PRIMARY_DNS="" # 首选DNS服务器
HOST_IP="" # 本地IP地址

ADAPTERNUM="" # 任意,通常为00或01
IPDOG="" #  通常为01

AUTH_VERSION="2c00" # 吉林大学默认值
CONTROLCHECKSTATUS="20" # 吉林大学默认值
KEEP_ALIVE_VERSION="dc02" # 吉林大学默认值
BIND_IP="0.0.0.0" # 暂未使用
ROR_STATUS="False" # 是否启用 ROR 功能，True或False，当前尚未实现，默认False
