/* docs/stylesheets/extra.css */

body, input, .md-search-result__article {
    font-family: "Roboto", "PingFang SC", "Microsoft YaHei", "Segoe UI", sans-serif !important;
}


code, kbd, pre {
    font-family: "JetBrains Mono", "Fira Code", "Consolas", monospace !important;
}


body {
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 16px;
}


.doc-heading {
    color: var(--md-primary-fg-color);
    font-weight: bold;
    margin-top: 1.5em;
}
